$category-box-height: 36vh;

// category Box
.categoryBox {
  position: absolute;
  top: -$category-box-height;
  width: 100vw;
  height: $category-box-height;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.3s;

  & ul.categoryContainer {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, minmax(20%, auto));
    grid-template-columns: repeat(5, minmax(20%, auto));

    & li {
      display: flex;
      justify-content: baseline;
      align-items: center;
      cursor: pointer;

      &:nth-child(14),
      &:nth-child(18),
      &:nth-child(22) {
        grid-column: span 2;
      }

      & span {
        margin-left: 0.5vw;
        font-size: 0.8rem;
        color: rgb(61, 61, 61);

        &:first-child {
          color: #000;
        }
      }
    }
  }
}