$navbar-height: 14vh;

// common
button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

// second Row of navbar
.navbarSecondRow {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

