// common
$body-theme-color: #ff6674;

.bodyTitle {
  padding: 1.5% 0;
  width: 100%;
  height: 10%;
  font-size: 0.8rem;

  & .bodyTitle__projectNumber {
    font-size: 0.9rem;
    color: $body-theme-color;
  }

  & .bodyTitle__projectExplain {
    color: #000;
  }
}