$navbar-height: 14vh;
$common-border-radius: 5px;

// common
button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

// second Row of navbar
.navbarSecondRow {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;

  & .categoryArea {

  }

  & .searchArea {

  }
}

