.FormContainer {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }

  .LoginContainer,
  .SignupContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.show {
      scroll-margin-top: 20px; /* 컨테이너 위쪽 여백 */
      scroll-snap-align: start; /* 스크롤 스냅 정렬 방식 */
    }
  }
}
